@media screen and (max-width:767px){
  .menu{
    display: none;
  }

  header , main{
    flex-direction: column;
    
  }

  #bolo{
    width: 190px;
    position: absolute;
    top: 340px;
    margin-left: 135px;
  }

  #logo{
    margin-right: 20px;
  }
}

  @media screen and (min-width:767px){
    .menu-mobile {
      display: none;
    }

    .btn-abrir {
      display: none;
    }
  }

  @media screen and (max-width:1170px){
    #dishes{
      flex-wrap: wrap;
      justify-content: center;
    }

    .dish{
      width: calc(50% - 12px);
    }
  }

    @media screen and (max-width:767px){

     #cardápio .dish{
      width:100%;   
     }

    #cardápio .section-subtitle{
      text-align: center;
     
    }
    }

  

   