@media screen and (max-width:767px){
  li{
    display: none;
  }

  header , main{
    flex-direction: column;
  }

  #bolo{
    width: 200px;
    position: absolute;
    top: 340px;
    margin-left: 150px;
  }

  #logo{
    margin-right: 20px;
  }
}